body {
    background-color: #85b1a0;
    color: #5a4141;
    font-size: 24px;
}

h1 {
    text-align: center;
}

h2 {
    color: brown;
}

.pagination {
    font-size: 20px;
    color: black;
}

.href-pag {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
